.card {
    flex: 0 1 18%;
    transition: all .3s;

    .header {
        background: lightblue;
    }

    .actions {
        justify-content: space-between;
    }

    .favoriteIcon {
        transition: all .3s;
    }

    .deleteIcon {
        margin-left: auto;
    }
}