.card {
  width: 300px;
  margin: 10px;

  .header {
    background: lightblue;
  }

  .actions {
    justify-content: space-between;
  }

  .favoriteIcon {
    transition: all 0.3s;
  }

  .deleteIcon {
    margin-left: auto;
  }
}
