.card {
  width: 300px;
  transition: all 0.3s;

  .header {
    background: lightblue;
  }

  .actions {
    justify-content: space-between;
  }

  .favoriteIcon {
    transition: all 0.3s;
  }

  .deleteIcon {
    margin-left: auto;
  }
}