.chip {
  margin: 5px;
}
.chipContainer {
  padding-top: 15px;
}
.allergyChips {
  background-color: #d3e0f5 !important;
}
.timeChips {
  background-color: #e2c5e3 !important;
}
.mealChips {
  background-color: #fab9c6 !important;
}
